 nav {
  height: 120px;
  padding: 1.5em;
  width: 100%;
  background: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  z-index: 100
  }

  nav > span {
    font-family: 'Bungee', cursive;
    display: flex;
    margin-top: 0.5em;
  }
  
.right-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.fas {
  color: red
}
