.navbar-top {
  height: 120px;
  padding: 1.5em;
  width: 100%;
  background: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-top-logo {
  font-family: 'Bungee', cursive;
  display: flex;
  margin-top: 0.5em;
}
.navbar-top-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.fa-angle-double-down  {
  color: red;
  position: relative;
  animation: wiggle 1s 1s ease-in-out infinite;
}
@keyframes wiggle {
  0% {
    top: 0;
  }
  50% {
    top: -3px;
  }
  100% {
    top: 0;
  }
}