.tweet-button {
  font-family: 'Bungee', cursive;
  background: #4056A1;
  color: #FFFFFF;
  border: none;
}

#tweet-text {
  color: black; 
  background: transparent;
  border: none;
  border-bottom: 4px solid #545149;
  width: 100%;
  font-weight: bold;
  height: 3em
}

.button-counter {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.max-reached {
  color: red;
}

.alert-long {
  border: 4px solid red;
  padding: 4px;
  margin-bottom: 8px
}
.alert-short {
  border: 4px solid red;
  padding: 4px;
  margin-bottom: 8px;
}
.alert-message {
  font-size: 16px;
  color: red;
  font-weight: bold
}