.tweets-user-handle {
  display: flex;
  justify-content: space-between
}

.tweets {
  border: 0.2em solid #545149;
  margin-top: 16px;
}
.tweets:hover {
  box-shadow: 10px 5px 5px grey
}
.tweets-avatar-user {
  display: flex;
}
.tweets-avatar {
  height: 1.5em;
  padding-right: 0.2em
}
.tweets-user {
  color: darkblue;
  font-size: 0.8em;
  font-weight: bold
}

.tweets-text-box {
  padding: 16px;
  margin:auto;
}

.tweets-container {
  padding: 16px;
  margin:auto;
}

.new-tweets-container {
  padding: 16px;
  margin:auto;
}

.tweets-user-sent {
  width: 100%;
  border-bottom: 0.2em solid #545149;
  display: flex;
  justify-content: start;
  padding-bottom: 16px;
  text-align: start;
  font-size: 0.9em;
  word-break: break-all
}

.tweets-date-impressions {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-size:0.6em;
  align-items:end
}
.tweets-impressions {
  color: #4056A1;
}

.tweets-impressions i:hover {
  color: burlywood
}

.tweets-handle {
  color: lightblue;
  font-size: 0.8em;
  font-weight: bold
}